.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    /* fr fractial, 1 part of size -> 4 equal columns */
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 20px;
  }
  